<h1>Trimester Details</h1>
<ul>
  <li><strong>ID:</strong> <%= @trimester.id %></li>
  <li><strong>Year:</strong> <%= @trimester.year %></li>
  <li><strong>Term:</strong> <%= @trimester.term %></li>
  <li><strong>Application Deadline:</strong> <%= @trimester.application_deadline %></li>
  <li><strong>Start Date:</strong> <%= @trimester.start_date %></li>
  <li><strong>End Date:</strong> <%= @trimester.end_date %></li>
</ul>
